body{
    background: #99ED87;
}
.kk{
    background: #FBF76E;
    padding: 2px;

}
.ff{
    text-align: center;
    font-family: Limelight;
    font-weight: 600;
    font-size: 40px;
    color: #083462;
}
.gg{
    text-align: left;
    font-family: Limelight;
    font-weight: 2;
    font-size: 25px;
    color: #09651B;
}
.tt{
    text-align: left;
    font-family: Bookman Old Style;
    font-weight: 1000;
    font-size: 35px;
    color: #B8A30B;
}
.yu{
    text-align: left;
    font-family: Cabin Sketch;
    font-weight: 1000;
    font-size: 35px;
    color: #2BBF48;
}
.fd{
    text-align: left;
    font-family: Limelight;
    font-weight: 2;
    font-size: 25px;
    color: #739212;
}
.mn{
    text-align: left;
    font-family: Bookman Old Style;
    font-weight: 1000;
    font-size: 35px;
    color: #B8A30B;
}
.mk{
    text-align: left;
    font-family: Cabin Sketch;
    font-weight: 1000;
    font-size: 35px;
    color: #2BBF48;
}
.kl{
    text-align: left;
    font-family: Bookman Old Style;
    font-weight: 1000;
    font-size: 35px;
    color: #B8A30B;
}
.hj{
    text-align: left;
    font-family: Cabin Sketch;
    font-weight: 1000;
    font-size: 35px;
    color: #2BBF48;
}
.ge{
    text-align: left;
    font-family: Limelight;
    font-weight: 2;
    font-size: 25px;
    color: #955A0B;
}
.th{
    text-align: left;
    font-family: Bookman Old Style;
    font-weight: 1000;
    font-size: 35px;
    color: #B8A30B;
}
.oi{
    text-align: left;
    font-family: Cabin Sketch;
    font-weight: 1000;
    font-size: 35px;
    color: #2BBF48;
}
.po{
    text-align: left;
    font-family: Bookman Old Style;
    font-weight: 1000;
    font-size: 35px;
    color: #B8A30B;
}
.ty{
    text-align: left;
    font-family: Cabin Sketch;
    font-weight: 1000;
    font-size: 35px;
    color: #2BBF48;
}
.re{
    text-align: left;
    font-family: Bookman Old Style;
    font-weight: 1000;
    font-size: 35px;
    color: #B8A30B;
}